/* Header */

.header .container {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 15px 0;
}
.navbar a {
  color: white;
  padding: 41px 0;
  display: inline-block;
  transition: ease-in-out;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbar a:hover,
.navbar a.active {
  color: #17cfab;
  border-bottom: 2px solid #1ccba0;
}

.navbar a:hover:before {
  opacity: 1;
}

.header {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar {
  margin-left: auto;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  padding: 0 10px;
}
.content {
  margin-bottom: 125px;
}
.content p {
  color: #d4d4d4;
  font-size: 34px;
}
.button-secone {
  display: flex;
  margin-top: 123px;
  margin-left: 408px;
  height: 65px;
}

.creative-section {
  background-color: gray;
  background: url(../images/slider2.jpg) no-repeat center/cover;
  padding-top: 330px;
  padding-bottom: 240px;
  text-align: center;
  width: 100%;
}
.strong-text {
  font-size: 36px;
  color: #ffffff;
}
span {
  color: #17cfab;
}

.inner-sec-two {
  display: flex;
  width: 100%;
  height: 100%;
}
.img-two {
  width: 25%;
  text-align: center;
  background-color: #1b2933;
  border-top: 4px solid #17cfab;
  padding: 87px 15px 115px;
}
.img-repeat {
  margin-bottom: 40px;
}
.img-two:nth-child(even) {
  background-color: #17cfab;
  border-top: 4px solid white;
}
.img-two p {
  color: #17cfab;
}
.img-two:nth-child(even) p {
  color: white;
}
.inner-secthree {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.content-secthree {
  width: 33.33%;
}

.content-secthree {
  width: 33.33%;
  margin-bottom: 80px;
  padding: 0 37px;
}
.content-secthree:hover h3 {
  color: #17cfab;
}
.icon {
  display: inline-block;
  margin-right: 9px;
}
/* section */
.about-our-cmpny {
  background-color: rgb(46, 44, 44);
  padding: 80px 0;
}
.content-four {
  width: 30%;
}
.inner-sec-four {
  display: flex;
}
.heading-four {
  color: #d4d4d4;
}
.img-four {
  position: relative;
  width: 50%;
  bottom: -89px;
}

.ul-four {
  display: flex;
  margin-bottom: 40px;
}
.ul-four li {
  color: white;
}
a {
  color: white;
}
.progress-bar {
  border: 1px solid #ddd3;
  margin-bottom: 15px;
}
.progress {
  padding: 10px 15px;

  width: 80%;
  text-transform: uppercase;
  background: #fff;
}
.progress.interface {
  background: #9b5ca5;
  width: 70%;
}
.progress.design {
  background: #11afdd;
  width: 80%;
}
.progress.wordpress {
  background: #d57f7f;
  width: 65%;
}
.progress.html-css {
  background: #1fbb9d;
  width: 95%;
}
.progress.app-design {
  background: #bb8935;
  width: 90%;
}

.our-serviecs {
  background-color: #ffffff;
}

.nav-sec-six a {
  color: black;
}
.nav-sec-six a:hover {
  color: #f7f7f7;
}
.nav-sec-six {
  padding-bottom: 25px;
}

.ul-five {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200 197 197 / 31%);
  border-top: 1px solid rgb(200 197 197 / 31%);
  background-color: #f7fbfd;
}
.li-five:hover {
  background-color: #17cfab;
}

.li-five {
  border-right: 1px solid rgb(200 197 197 / 31%);
  flex: 1 1 auto;
  padding: 20px;
  text-align: center;
}

.li-five:first-child {
  border-left: 1px solid rgb(200 197 197 / 31%);
}

.inner-sec-six {
  display: flex;
  margin-bottom: 107px;
}
.img-service {
  width: 23%;
  margin-right: 24px;
}
.img-six {
  width: 100%;
}
.sec-six {
  width: 75%;
}

.sec-seven {
  background: url(../images/slider1.jpg) no-repeat center/cover;
  width: 100%;
}
section.sec-seven {
  position: relative;
}
.heading-seven {
  margin-bottom: 21px;
  font-size: 40px;
  line-height: 40px;
  color: #18cfab;
  font-weight: 700;
}

.container-seven {
  text-align: center;
  padding: 100px 0;
}
.para-seven p {
  color: white;
  text-align: center;
  margin-bottom: 71px;
}

button {
  border: none;
}
.section-eight {
  background: url(../images/slider1.jpg) no-repeat center/cover;

  padding: 100px 0 30px;
}

.container-eight {
  display: flex;
}
.section-eight h2 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}
.section-eight h2:after {
  content: none;
}
.section-eight h3 {
  color: #17cfab;
  font-size: 41px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.section-eight .container {
  max-width: 1920px;
}
.img-eight {
  position: relative;
  width: 60%;
  bottom: 27px;
  right: -91px;
}
.para-eight {
  width: 40%;
}
.para-eight p {
  font-size: 14px;
  line-height: 35px;
  color: #f7f7f7;
  font-weight: 300;
}

.cercle {
  padding: 26px;
  border: 1px solid #17cfab;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.fa-icon {
  font-size: 40px;
}
.icon-cercle {
  padding: 33px;
  background: #fff;
  border-radius: 50%;
  height: 108px;
  width: 108px;
}

.number {
  font-size: 36px;
  color: #fff;
}

.title {
  font-size: 18px;
  color: #14ebc0;
}
.check-cir {
  margin-right: 10px;
}
.btn-eight {
  margin-top: 40px;
}
/* map-section */
.map {
  display: flex;
}
.form {
  width: 20%;
  /* background: #ccc; */
  /* border: 1px solid; */
  max-width: 380px;
  margin-left: 31px;
}
.map-img {
  width: 50%;
}
iframe {
  width: 100%;
}
.input-type {
  border: 3px solid #f3f7f6;
  padding: 20px;
  padding-left: 15px;
  width: 100%;
}
#submit {
  width: 100%;
  border: none;
  padding: 15px;
}
.map h2 {
  text-align: start;
}
/* section-people-say */
.people-say {
  /* background: url(../images/bg-image.jfif) no-repeat center/cover ; */
  background-color: #2e3f4d;
  padding: 105px;
}
.people-say h2 {
  color: white;
}
.comment {
  text-align: center;
  font-size: 30px;
}
.people-say p {
  font-size: 14px;
  color: #bbbbbb;
  margin: 43px 0;
  text-align: center;
  width: 1066px;
}
.people-say h3 {
  color: #18cfab;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}
.people-say h4 {
  color: #bbbbbba8;
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
}

.boarder-image {
  height: 180px;
  width: 180px;
  border: 0px solid #19ceaa52;
  border-radius: 50%;
  margin: 0 auto 50px;
  margin-top: 30px;
  background-color: #19ceaa52;
}
.peop-img {
  border: 4px solid #19ceab;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 14px;
  margin-top: 14px;
  z-index: 1;
}

.gp-peop-part {
  margin-left: 260px;
  display: flex;
  align-items: center;
}

.gp-ppl-image {
  height: 100px;
  width: 100px;
  border: 8px solid #19ceaa4f;
  border-radius: 50%;
  /* margin-top: 120px; */
  margin-left: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.gp-ppl-image:hover {
  padding-bottom: 12px;
  border: 8px solid rgb(25 206 171);
  background-color: #339b86fa;
  box-shadow: 0 0 20px 7px rgb(25 206 171 / 50%);
  margin-top: -23px;
}
.left-slide {
  font-size: 30px;
  color: #bbbbbba8;
}
.right-slide {
  font-size: 30px;
  color: #17cfab;
  margin-left: 45px;
}

.gp-ppl-imagea:hover,
.gp-ppl-image.active {
  padding-bottom: 12px;
  border: 8px solid rgb(25 206 171);
  background-color: #339b86fa;
  box-shadow: 0 0 20px 7px rgb(25 206 171 / 50%);
  margin-top: -16px;
}

/* section-work */
.work {
  background: #dce9f0;
}
.work h2 {
  margin-top: 99px;
  padding-top: 90px;
}
.work ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200 197 197 / 31%);
  border-top: 1px solid rgb(200 197 197 / 31%);
  background-color: #f7fbfd;
  margin: 70px 148px;
}
.work li {
  border-right: 1px solid rgb(200 197 197 / 31%);
  padding: 20px;
  text-align: center;
  flex: 1 1 auto;
}
.work li:hover {
  color: #18cfab;
  border-top: 4px solid #18cfab;
  font-weight: bolder;
}
.work li:active {
  color: #18cfab;
  border-top: 4px solid #18cfab;
  font-weight: bolder;
}
.work li:first-child {
  border-left: 1px solid rgb(200 197 197 / 31%);
}
.work-img-sec {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.work-img {
}
.plus {
  background: white;
  font-size: 12px;
}
.btn-work {
  margin-top: 67px;
  margin-bottom: 92px;
  margin-left: 42%;
}

footer {
  width: 100%;
  height: 100px;
  background-color: gray;
  margin-top: 100px;
  text-align: center;
}
.footer-para p {
  text-align: center;
  color: white;
  padding: 41px;
}
.ham {
  color: rgb(71, 200, 190);
}
.image-box:nth-child(even) .icon-cercle {
  background: #1b2933;
}
.image-box:nth-child(even) .cercle {
  border-color: #1b2933;
}
.image-box:nth-child(even) .title {
  color: #1b2933;
}
.img-sec {
  width: 25%;
}

